/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  /* body {
  
  } */
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  header nav *{
    float: left;
  }
  nav > a, nav > form, nav > h2{
    width: 15%;
    margin: 0 5%;
    list-style: none;
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(99, 64, 64);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  
  li a{
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li h2{
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto',sans-serif;
  }
  
  h3 > li{
    font-size: 10px
  }
  main > section{
    width: 50%;
    height: 800px;
    float: left;
  }
   main > section h1, main > section img{
    display: block;
    margin-top: 100px;
    font-family: 'Roboto',sans-serif;
    color: rgb(99,64,64);
  }
  
  section h3{
    display: block;
    margin-top: 115px;
    font-family: 'Roboto',sans-serif;
    color: rgb(99,64,64);
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
  @media screen and (max-width: 600px) {
    main, section, nav, header, section img
    {
  
      width: 100%;
      margin-top: 0;
    }
  
      section img {
      display: none;
      }
    
  }